{
    "parser": "typescript",
    "semi": false,
    "printWidth": 120,
    "tabWidth": 2,
    "trailingComma": "none",
    "arrowParens": "avoid",
    "jsxBracketSameLine": false,
    "singleQuote": true,
    "bracketSpacing": true,

}
